<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <% if session[:products] %>
          <table class="min-w-full text-left text-sm font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4">#</th>
                <th scope="col" class="px-6 py-4">Title</th>
                <th scope="col" class="px-6 py-4">Price</th>
                <th scope="col" class="px-6 py-4">Amount</th>
                <th scope="col" class="px-6 py-4">Sum</th>
              </tr>
            </thead>
              <tbody>
                <% @session_products.each.with_index(1) do |product, index| %>
                  <tr class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                    <td class="whitespace-nowrap px-6 py-4 font-medium"><%= index %></td>
                    <td class="whitespace-nowrap px-6 py-4"><%= product.name %></td>
                    <td class="whitespace-nowrap px-6 py-4"><%= number_to_currency(product.price) %></td>
                    <td class="whitespace-nowrap px-6 py-4">
                      <%= render "cart/change_amount_form", product: product %>
                    </td>
                    <td class="whitespace-nowrap px-6 py-4"><%= number_to_currency(session_product_sum(product)) %></td>
                    <td class="whitespace-nowrap px-6 py-4">
                      <%= button_to cancel_shipping_path(product, update_action: 'delete') do %>
                          <i class="fa fa-regular fa-trash fa-2x"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                <tr class="border-b dark:border-neutral-500">
                  <td colspan="4" class="whitespace-nowrap px-6 py-2">
                    Total sum
                  </td>
                  <td class="whitespace-nowrap px-6 py-2"><%= number_to_currency(@session_sum) %></td>
                </tr>
              </tbody>
          </table>

          <div>
            <div class="inline-block m-5">
                <%= link_to 'Pay this order', new_order_path, class: "black-button" %>
            </div>

            <div class="inline-block float-right m-5">
              <%= button_to 'Delete all products', clean_cart_path, method: :delete, class: "grey-button ms-0" %>
            </div>
          </div>
        <% else %>
            <div class="grid h-screen place-items-center text-3xl">Your cart is empty yet</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
