<div class="flex justify-center items-center">
  <div class="text-center w-1/5 text-xl">
    <p class="py-5 text-2xl">Log in</p>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), defaults: {
                                                                                          input_html: { class: 'input-field' },
                                                                                          label_html: { class: "text-xl" },
                                                                                          hint_html: {class: "text-sm text-neutral-500" }
                                                                                          } ) do |f| %>
      <%= f.input :email, input_html: { autocomplete: "email" } %>
      <%= f.input :password, input_html: { autocomplete: "current-password" } %>

      <%= f.input :remember_me, as: :boolean, input_html: { class: 'input-field p-2 me-5'}, label_html: { class: "text-xl pt-3" } if devise_mapping.rememberable? %>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "black-button" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
