<div class="mx-auto">
  <div class="w-full p-1 md:p-2 m-5">
    <div class="grid gap-4 grid-cols-1">
      <div class="font-semibold text-3xl text-center">
        <%= @product.name %>
      </div>

      <div>
        <%= @product.description %>
      </div>

      <div>
        Price: <%= number_to_currency(@product.price, unit: "₴ ") %>
      </div>

      <div>
        Available: <%= @product.balance %>
      </div>
    </div>

    <div class="relative mb-3">
      <% if @product.balance.nonzero? %>
        <%= render "cart/buy_form", product: @product %>
      <% else %>
        <p class="text-3xl text-grey-400 mt-3">Out of stock</p>
      <% end %>
    </div>

    <div class="inline-block">
      <%= link_to 'Back to products', products_path, class: "btn-grey" %>
    </div>

  </div>
</div>
