<nav class="relative flex w-full flex-wrap items-center justify-between bg-neutral-100 py-2 text-neutral-200 shadow-lg dark:bg-neutral-600">
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <div class="flex items-center justify-between" id="links">
      <%= link_to inline_svg_tag("logo.svg", class: 'logo-image'), root_path %>
      <hr class="border-r border-neutral-500 mx-4 h-10">
      <%= link_to 'Products', products_path, class: "nav-item" %>
    </div>

    <div class="flex items-center ml-auto">
      <% if user_signed_in? %>
        <div class="dropdown inline-block relative">
          <p class="me-5"><%= full_name(current_user) %></p>
          <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
            <li><%= button_to "Show my orders", orders_path, method: :get, class: "dropdown-custom-item" %></li>
            <li><%= button_to "Edit my account", edit_user_registration_path, method: :get, class: "dropdown-custom-item" %></li>
            <li><%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-custom-item" %></li>
          </ul>
        </div>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "grey-button me-3" %>
        <%= link_to "Register", new_user_registration_path, class: "black-button me-5" %>
      <% end %>
    </div>

    <%= link_to cart_path do %>
      <i class="fa fa-solid fa-cart-shopping fa-2x nav-item me-5"></i>
      <div class="red-pill"><%= count_products %></div>
    <% end %>
  </div>
</nav>
